<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.raysvivi.blog.dao.ArticleMapper">

    <resultMap id="articleInfoMap" type="org.raysvivi.blog.model.AritcleInfo">
        <id property="id" column="id" />
        <result property="title" column="f_title"/>
        <result property="content" column="f_content"/>
        <result property="module" column="f_module"/>
        <result property="image" column="f_image"/>
        <result property="show" column="f_show"/>
        <result property="abstractInfo" column="f_abstract"/>
        <result property="tags" column="f_tags" typeHandler="org.raysvivi.blog.handler.StrsTypeHandler"/>
        <result property="viewNum" column="f_view_num"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="deleteFlag" column="delete_flag"/>
    </resultMap>

    <select id="getArticlePageList"  resultMap="articleInfoMap">
        select id,f_title,f_abstract,f_image,f_module,f_tags,f_view_num,create_time,update_time,delete_flag
        from  t_article
        where 1=1 and f_show = 1
        <if test="pageParam!=null and pageParam.tag!=null and pageParam.tag != ''">
            and f_tags like concat('%',#{pageParam.tag,jdbcType=VARCHAR},'%')
        </if>
        <if test="keyword!=null and keyword != ''">
            and f_title like concat('%',#{keyword,jdbcType=VARCHAR},'%')
        </if>
        order by create_time desc
        <if test="pageParam!=null">
            limit ${pageParam.startIndex},${pageParam.pageSize}
        </if>

<!--        <if test="startIndex!=null and startIndex!=''">-->
<!--            and u.name like  concat('%',#{param.queryName,jdbcType=VARCHAR},'%')-->
<!--        </if>-->
    </select>

    <select id="getBlogsSimpleList"  resultMap="articleInfoMap">
        select id,f_title
        from  t_article
        where delete_flag = 0
        <if test="tag!=null and tag!=''">
            and f_tags like concat('%',#{tag,jdbcType=VARCHAR},'%')
        </if>
    </select>
</mapper>